.user-form-ui{
    width: 100%;
    .el-form-item{
        margin-bottom: 20px;
    }
    .el-input__inner{
        background-color: #202429;
        border-color: transparent;
        color: #ffffff;
        font-size: 12px;
        &:-ms-input-placeholder {
            color:rgba($color: #fefefe, $alpha: 0.2);
        }
        &::-webkit-input-placeholder {
            color:rgba($color: #fefefe, $alpha: 0.2);
        }
        &::-moz-placeholder {
            color:rgba($color: #fefefe, $alpha: 0.2);
        }
        &:-moz-placeholder {
            color:rgba($color: #fefefe, $alpha: 0.2);
        }
    }
    .el-form-item__content{
        position: relative;
        .code-button{
            width: 100px;
            height: 32px;
            background-color: #34393f;
            color: #fefefe;
            text-align: center;
            line-height: 32px;
            position: absolute;
            top: 50%;
            margin-top: -16px;
            right: 4px;
            z-index: 9;
            border-color: transparent;
            border-radius: 4px;
            cursor: pointer;
            &:focus{
                outline: none;
            }
        }
    }
    .el-button--primary{
        width: 100%;
        background-color: #00a3ff;
        border-color: #00a3ff;
    }
    .el-select{
        width: 100%;
        .el-input__inner:focus {
            border-color:transparent;
        }
        .el-input.is-focus {
            width: 100%;
            .el-input__inner {
                border-color: transparent;
            }
        }
        &:hover{
            .el-input__inner {
                border-color: transparent;
            }
        }
    } 
}