@import './scssConfig.scss';
@import './normalize.scss';
i[class^=icon]{
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: $color-main;
    border-radius: 50%;
}
.icon-help{
    background: url(~@/assets/images/icon/icon-holp.png) no-repeat;
}
.icon-search{
    background: url(~@/assets/images/icon/icon-search.png) no-repeat;
}
.icon-location{
    background: url(~@/assets/images/icon/icon-location.png) no-repeat;
}
.icon-user{
    background: url(~@/assets/images/icon/icon-user.png) no-repeat;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
header{
 @extend %clearfix;       
}
section{
    @include webkitA(display,flex)
}
footer{
    @extend %clearfix;
}
.fs-24{
    font-size: 24px;
}