@import './scssConfig.scss';
@import './normalize.scss';
@import './elmeUi.scss';
i[class^=icon]{
    display: inline-block;
    background-color: $color-main;
    border-radius: 50%;
}
.icon-with-26{
    width: 26px;
    height: 26px;
}
.icon-width-44{
    width: 44px;
    height: 44px;
}
.icon-width-348{
    width: 348px;
    height: 189px;
}
.icon-with-29{
    width: 29px;
    height: 29px;
}
.icon-with-22{
    width: 22px;
    height:22px;
}
.icon-help{
    background: url(~@/assets/images/icon/icon-holp.png) no-repeat;
}
.icon-help2{
    background: url(~@/assets/images/icon/icon-help2.png) no-repeat;
}
.icon-help3{
    background: url(~@/assets/images/icon/icon-help3.png) no-repeat;
}
.icon-search{
    background: url(~@/assets/images/icon/icon-search.png) no-repeat;
}
.icon-location{
    background: url(~@/assets/images/icon/icon-location.png) no-repeat;
}
.icon-user{
    background: url(~@/assets/images/icon/icon-user.png) no-repeat;
}
.icon-user-help{
    background: url(~@/assets/images/icon/icon-user-help.png) no-repeat;
}
.icon-user-adviser{
    background: url(~@/assets/images/icon/icon-user-adviser.png) no-repeat;
}
.icon-user-money{
    background: url(~@/assets/images/icon/icon-user-money.png) no-repeat;
}
.icon-user-security{
    background: url(~@/assets/images/icon/icon-user-security.png) no-repeat;
}
.icon-user-wheel{
    background: url(~@/assets/images/icon/icon-user-wheel.png) no-repeat;
}
.icon-BOC{
    background: url(~@/assets/images/icon/icon-boc.png) no-repeat;
}
.icon-CCB{
    background: url(~@/assets/images/icon/icon-ccb.png) no-repeat;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
header{
 @extend %clearfix;       
}
section{
    @include webkitA(display,flex)
}
footer{
    @extend %clearfix;
}
.fs-24{
    font-size: 24px;
}
.clearfix{
    @extend %clearfix;
}
/*user */
.user-meta{
    margin-top: 80px;
    .meta-ul{
        margin-left: -30px;
        margin-right: -30px;
        a{
            display: block;
            line-height: 64px;
            color: rgba($color: #ffffff, $alpha: 0.4);
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.3);
            font-size: 15px;
            padding-left: 30px;
            position: relative;
            i{
                margin-right: 18px;
                vertical-align: middle;
            }
        }
        .arrow::after{
            content: '';
            width: 10px;
            height: 10px;
            border-top: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            position: absolute;
            top: 50%;
            margin-top: -5px;
            right: 30px;
            @include webkit(transform,rotate(45deg));
            @include webkit(box-sizing, border-box);
            opacity: 0.3;
        }
    }
}
.account-bgc1{
    background-image: url(~@/assets/images/account.png);
}
.icon-account-grade{
    background-image: url(~@/assets/images/icon/icon-accrount.png);
}