.login{
    position: relative;
    .register{
        position: absolute;
        color: rgba($color: #ffffff, $alpha: 0.4);
        top: 33px;
        right: 30px;
    }
    .user-form-ui{
        text-align: right;
    }
    .forget{
        color: rgba($color: #ffffff, $alpha: 0.4);
    }
}